<body style="background-color: blue;">
    <div id="monkey" style="color: red">hello</div>
    <button onclick="monkey()">CLICK HERE</button>
</body>

<script>
    function monkey() {
        document.getElementById("monkey").innerHTML = "MOnkey"
    }
</script>