<div id="latitude"></div>
<div id="longitude"></div>
<div>YTO</div>
<script>
    if ('geolocation' in navigator) {
        console.log('geolocation available');
        navigator.geolocation.getCurrentPosition(
            function (position) {
                var lat = position.coords.latitude;
                var lon = position.coords.longitude;
                console.log(lat + "  YOOOOO  " + lon);
                document.getElementById('latitude').textContent = lat;
                document.getElementById('longitude').textContent = lon;
            },
            function (error) {
                alert(error.message);
            }, {
            enableHighAccuracy: true
            , timeout: 5000
        });

    }
    else {
        document.getElementById('latitude').textContent = "FAIL";
    }
</script>