<head>
    <title>Osmin Sanabria</title>
    <style>
        #map {
            width: 400px;
            height: 800px;
        }
    </style>

</head>
<form action="/" method="POST">
    <div class="form-group">
        <label for="location">Location</label>
        <input class="form-control" type="text" name="location" id="location" placeholder="Yosemite National Park, CA">
        <div>
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
<div id="latitude"></div>
<div id="longitude"></div>
<div id="map"></div>
<button onClick="startTour()">Start Tour</button>
<div>YTO</div>
<script src="logic.js" async defer></script>
<script src="<%= mapSource %>" async defer></script>
