<div id="latitude"></div>
<div id="longitude"></div>
<div>YTO</div>
<script>
    if ('geolocation' in navigator) {
        console.log('geolocation available');

        navigator.geolocation.getCurrentPosition(async position => {
            var lat = position.coords.latitude;
            var lon = position.coords.longitude;
            console.log(lat + "    " + lon);
            document.getElementById('latitude').textContent = lat;
            document.getElementById('longitude').textContent = lon;
        });
    }
    else {
        document.getElementById('latitude').textContent = "FAIL";
    }
</script>